<nav class="top-nav">
    <div class="nav-container">
        <a class="navbar-brand" href="/">
            <span class="brand-name">CRAK</span>
            <span class="brand-full">Contoso Risk Agent Knowledgebase</span>
        </a>
        
        <div class="nav-links">
            <a href="/about" class="nav-link">About</a>
            <a href="https://github.com/michaelsrichter/azure-elastic-risk-agent" target="_blank" class="nav-link">Github</a>
            <a href="/faq" class="nav-link">FAQ</a>
        </div>
    </div>
</nav>
